
# node
**/node_modules

# build output
**/dist
**/build

# environments
**/*.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# logs
**/logs
**/*.log
**/npm-debug.log*

# misc
*.pem
*.key

# IDE
**/.idea
**/.vscode
