<h1>Settings</h1>
<section>
    <h2>Appearance</h2>
    
    <div class="space-between">
        <mat-label>Dark mode</mat-label>
        <mat-slide-toggle [formControl]="darkMode"></mat-slide-toggle>
    </div>
    
</section>

<section>
    <h2>API</h2>
    
    <div class="space-between">
        <mat-label>Default page size</mat-label>
        <mat-radio-group [formControl]="pageSize">
            <mat-radio-button value="10">10</mat-radio-button>
            <mat-radio-button value="25">25</mat-radio-button>
            <mat-radio-button value="50">50</mat-radio-button>
            <mat-radio-button value="100">100</mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="space-between">
        <mat-label>Always start from first page</mat-label>
        <mat-slide-toggle [formControl]="alwaysStartFromFirstPage"></mat-slide-toggle>
    </div>
    
</section>