@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
    color-scheme: light dark;
    @include mat.theme((
        color: mat.$spring-green-palette,
        typography: Roboto,
        density: -2
    ));
    
    @include mat.sidenav-overrides((
        container-shape: 0,
    )); 
}