.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  background: var(--mat-sys-surface-container-low);
}
 
.nav-list{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

main{
  padding: 2rem;
}

.active-link {
  background: var(--mat-sys-secondary-container);
}
