<h1 mat-dialog-title>Create Issue</h1>
<mat-dialog-content>
<form class="issue-input-form" [formGroup]="form">
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status_id">
            @for (status of (issueStatuses$ | async) ?? []; track status.id) {
                <mat-option [value]="status.id">
                    {{ status.name }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
</form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary" (click)="createIssue()">Create</button>
</mat-dialog-actions>